@import url("https://fonts.cdnfonts.com/css/noir");
@import url('https://fonts.cdnfonts.com/css/manifesto');

h1,h2 {
  font-family: 'MANIFESTO', sans-serif;
  
}

h1 {
      font-size: 80px;
}

h2 {
      font-size: 40px;
}
li {
  font-family: "Noir", sans-serif;
  font-family: 'MANIFESTO', sans-serif;
  font-size: 20px;
  
}
